:root {
  --primary-bg: #1f2937; /* Tailwind gray-800 */
  --primary-color: #3b82f6; /* Tailwind blue-500 */
  --secondary-bg: #111827; /* Tailwind gray-900 */
}

body {
  background-color: var(--secondary-bg);
  color: white;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
